In [ ]:
# Homework 3

## Mysql-Python Connection

In [ ]:
import mysql.connector
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns
import csv

%matplotlib inline

In [ ]:
db_connection = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="password", 
  auth_plugin='mysql_native_password'
)
print(db_connection)

In [ ]:
db_cursor.execute("DROP DATABASE ps_ecommerce")

In [ ]:
# creating database_cursor to perform SQL operation to run queries
db_cursor = db_connection.cursor(buffered=True)

# executing cursor with execute method and pass SQL query
db_cursor.execute("CREATE DATABASE ps_ecommerce")

# get list of all databases
db_cursor.execute("SHOW DATABASES")

# print all databases
for db in db_cursor:
    print(db)
    
db_cursor.execute("USE ps_ecommerce")

## Load Data to Mysql Tables

In [ ]:
def populate_table(db_connection, db_cursor, insert_query, file_path):
    
    with open(file_path, mode='r') as csv_data:
        reader = csv.reader(csv_data, delimiter=';')
        csv_data_list = list(reader)
        for row in csv_data_list[1:]:
            row = tuple(map(lambda x: None if x == "" else x, row[0].split(',')))
            db_cursor.execute(insert_query, row)
        
    db_connection.commit()

In [ ]:
# create CUSTOMERS table
db_cursor.execute("""CREATE TABLE CUSTOMERS (customer_id VARCHAR(50) NOT NULL, 
                                          customer_unique_id VARCHAR(50) NOT NULL, 
                                          customer_zip_code_prefix VARCHAR(50), 
                                          customer_city VARCHAR(50), 
                                          customer_state VARCHAR(50))""")

insert_customers = (
    "INSERT INTO CUSTOMERS(customer_id, customer_unique_id, customer_zip_code_prefix, customer_city, customer_state) "
    "VALUES (%s, %s, %s, %s, %s)"
)

populate_table(db_connection, db_cursor, insert_customers, "customers.csv")

In [ ]:
# create ORDER_PAYMENTS table
db_cursor.execute("""CREATE TABLE ORDER_PAYMENTS (order_id VARCHAR(50) NOT NULL, 
                                          payment_sequential INTEGER, 
                                          payment_type VARCHAR(50), 
                                          payment_installments INTEGER, 
                                          payment_value FLOAT)""")

insert_orderpayments = (
    "INSERT INTO ORDER_PAYMENTS(order_id, payment_sequential, payment_type, payment_installments, payment_value) "
    "VALUES (%s, %s, %s, %s, %s)"
)

populate_table(db_connection, db_cursor, insert_orderpayments, "order_payments.csv")

In [ ]:
# create ORDER_ITEMS table
db_cursor.execute("""CREATE TABLE ORDER_ITEMS (order_id VARCHAR(50) NOT NULL, 
                                          order_item_id INTEGER, 
                                          product_id VARCHAR(50), 
                                          seller_id VARCHAR(50), 
                                          shipping_limit_date DATETIME,
                                          price FLOAT,
                                          freight_value FLOAT)""")

insert_orderitems = (
    "INSERT INTO ORDER_ITEMS(order_id, order_item_id, product_id, seller_id, shipping_limit_date, price, freight_value) "
    "VALUES (%s, %s, %s, %s, %s, %s, %s)"
)

populate_table(db_connection, db_cursor, insert_orderitems, "order_items.csv")

In [ ]:
# create ORDERS table
db_cursor.execute("""CREATE TABLE ORDERS (order_id VARCHAR(50) NOT NULL, 
                                          customer_id VARCHAR(50) NOT NULL, 
                                          order_status VARCHAR(50), 
                                          order_purchase_timestamp DATETIME, 
                                          order_approved_at DATETIME,
                                          order_delivered_carrier_date DATETIME,
                                          order_delivered_customer_date DATETIME,
                                          order_estimated_delivery_date DATETIME)""")

insert_orders = (
    "INSERT INTO ORDERS(order_id, customer_id, order_status, order_purchase_timestamp, order_approved_at, order_delivered_carrier_date, order_delivered_customer_date, order_estimated_delivery_date) "
    "VALUES (%s, %s, %s, %s, %s, %s, %s, %s)"
)

populate_table(db_connection, db_cursor, insert_orders, "orders.csv")

In [ ]:
# Create PRODUCTS table
db_cursor.execute("""CREATE TABLE PRODUCTS (product_id VARCHAR(50) NOT NULL, 
                                            product_category_name VARCHAR(50), 
                                            product_name_lenght INTEGER, 
                                            product_description_lenght INTEGER, 
                                            product_photos_qty INTEGER,
                                            product_weight_g INTEGER,
                                            product_length_cm INTEGER,
                                            product_height_cm INTEGER,
                                            product_width_cm INTEGER)""")

insert_products = (
    "INSERT INTO PRODUCTS(product_id, product_category_name, product_name_lenght, product_description_lenght, product_photos_qty, product_weight_g, product_length_cm,  product_height_cm, product_width_cm) "
    "VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s)"
)

populate_table(db_connection, db_cursor, insert_products, "products.csv")

## Question 1 (5 pts)

Find the number of orders which have more than 2 months between their `order_delivered_carrier_date` and `order_delivered_customer_date` dates.

HINT: There is a function in MySQL that makes it easy to compute the difference between two timestamps. We recommend that you search for it online and use it in your answer.

In [ ]:
Question1Query = """
SELECT COUNT(*) AS NumofOrders
FROM orders
WHERE TIMESTAMPDIFF(MONTH, order_delivered_carrier_date, order_delivered_customer_date) > 2;
"""

db_cursor.execute(Question1Query)

print(f"Here is the answer: {db_cursor.fetchone()[0]}")

## Question 2 (10 pts)

Consider the ORDER_COSTS view created below.

In [ ]:
order_costs_query = """
                    CREATE VIEW ORDER_COSTS AS (
                        SELECT ORDERS.order_id, SUM(price) AS cost, ORDERS.customer_id as cid
                        FROM ORDER_ITEMS 
                        JOIN ORDERS
                        ON ORDER_ITEMS.order_id=ORDERS.order_id
                        GROUP BY order_id, ORDERS.customer_id)
                    """

db_cursor.execute(order_costs_query)

Using ORDER_COSTS and CUSTOMERS tables, find the top 10 cities in which customers spend the most. Your result should contain pairs of cities and total spendings, i.e., (city1, spending1), (city2, spending2), ... Your result should be ordered from higher spending to lower spending.

In [ ]:
query = """
SELECT 
    CUSTOMERS.customer_city AS City,
    SUM(ORDER_COSTS.cost) AS TotalSpending
FROM 
    ORDER_COSTS
JOIN 
    CUSTOMERS ON ORDER_COSTS.cid = CUSTOMERS.customer_id
GROUP BY 
    CUSTOMERS.customer_city
ORDER BY 
    TotalSpending DESC
LIMIT 10;
"""


db_cursor.execute(query)


top_cities = db_cursor.fetchall()


if top_cities:
    df_top_cities = pd.DataFrame(top_cities, columns=["City", "TotalSpending"])
    print(df_top_cities)
else:
    print("Error: No data")

Draw a pie chart containing the top 10 cities you found and their spending.

For example, in the pie chart, the slice of Sao Paulo is 42%, slice of Rio de Janeiro is 21%, slice of Belo Horizonte is 8%, ... Make sure the names of the cities and their percentages are written on the pie chart.

In [ ]:
cities = df_top_cities["City"]
spending = df_top_cities["TotalSpending"]

plt.figure(figsize=(10, 10))
plt.pie(spending, labels=cities, autopct='%2.0f%%', startangle=120)

plt.title("Top 10 Cities by Spending - Pie Chart")

plt.show()

## Question 3 (5 pts)

Implement the following function: `get_payment`. It takes as input two parameters: startyear and endyear. It needs to find: Between the years startyear and endyear (startyear < year < endyear), how many times was each payment method used? Use `order_delivered_customer_date` of the ORDERS table to find the year of the order. 

Example result: `(credit_card, 215 times), (voucher, 20 times), (debit card, 2 times),` ...

HINT: There exists a MySQL function which makes it easy to extract years from dates.

In [ ]:
def get_payment(start_year, end_year):
    query = """
    SELECT payment_type, COUNT(*) AS paymentC
    FROM ORDER_PAYMENTS
    JOIN ORDERS ON ORDER_PAYMENTS.order_id = ORDERS.order_id
    WHERE YEAR(order_delivered_customer_date) > %s AND YEAR(order_delivered_customer_date) < %s
    GROUP BY payment_type
    ORDER BY paymentC DESC;
    """
    
    db_cursor.execute(query, (start_year, end_year))
    
    results = db_cursor.fetchall()
    
    return [(row[0], row[1]) for row in results]

Here is a sample function call:

In [ ]:
print(get_payment("2015", "2017"))

## Question 4 (10 pts)

Write an SQL query to find the total number of orders per week day, e.g., Monday -> 150 orders, Tuesday -> 200 orders, Wednesday -> 500 orders, etc. Use the `order_purchase_timestamp` attribute for finding the day of the order. Result should be ordered in days (Monday, Tuesday, ...).

HINT: Check out the "DAYNAME" and/or "WEEKDAY" functions of MySQL.

In [ ]:
query = """
SELECT 
    DAYNAME(order_purchase_timestamp) AS WeekDay,
    COUNT(*) AS NumberOfOrders
FROM 
    ORDERS
GROUP BY 
    WeekDay
ORDER BY 
    FIELD(WeekDay, 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday');
"""

db_cursor.execute(query)

df_week = pd.DataFrame(db_cursor.fetchall(), columns=["WeekDay", "NumberOfOrders"])
print(df_week)

Plot the result using a LINE chart (days of week on x-axis, number of orders on y-axis).

In [ ]:
plt.figure(figsize=(10, 8))
plt.plot(df_week["WeekDay"], df_week["NumberOfOrders"], marker='o')


plt.title("Total Orders Per Week Day", fontsize=14)

plt.xlabel("Day", fontsize=10)

plt.ylabel("Number of Orders", fontsize=10)

plt.grid(True)


plt.show()

## Question 5 (10 pts)

Consider the PRODUCTS and ORDER_ITEMS tables. For each product category other than {"moveis_decoracao", "beleza_saude"}, find the maximum price that was paid for an item from that category. Limit the result to retrieve only first 13 rows in alphabetic order according to category name.

The result should be like: category1 -> minprice1, category2 -> minprice2, ...

In [ ]:
query = """
SELECT 
    p.product_category_name AS Category,
    MAX(oi.price) AS MaxPrice
FROM 
    PRODUCTS p
JOIN 
    ORDER_ITEMS oi ON p.product_id = oi.product_id
WHERE 
    p.product_category_name NOT IN ('moveis_decoracao', 'beleza_saude')
GROUP BY 
    p.product_category_name
ORDER BY 
    p.product_category_name ASC
LIMIT 13;
"""

db_cursor.execute(query)

df_category_prices = pd.DataFrame(db_cursor.fetchall(), columns=["Category", "MaxPrice"])
print(df_category_prices)

Plot the result using a BAR CHART. Product categories should be on the x-axis, min prices should be on the y-axis.

In [ ]:
categories = df_category_prices["Category"]
max_prices = df_category_prices["MaxPrice"]

plt.figure(figsize=(12, 8))

plt.bar(categories, max_prices, color="red")


plt.title("Max Prices by Product Category", fontsize=14)
plt.xlabel("Product Category", fontsize=10)
plt.ylabel("Max Price", fontsize=10)

plt.xticks(rotation=45, ha="right")


plt.tight_layout()
plt.show()

## Question 6 (5 pts)

Run the following code. Explain what the SQL query returns as output. Please state your answer in plain English.

In [ ]:
query = """
    SELECT P.product_category_name, SUM(OP.payment_value) AS total_payment_value
    FROM ORDER_ITEMS OI
    JOIN PRODUCTS P ON OI.product_id = P.product_id
    JOIN ORDERS O ON OI.order_id = O.order_id
    JOIN ORDER_PAYMENTS OP ON O.order_id = OP.order_id
    WHERE O.order_status <> 'delivered'
    GROUP BY P.product_category_name
    limit 5;
"""
db_cursor.execute(query)
for row in db_cursor.fetchall():
    print(row)

The query sums up payments of orders which are not marked as “delivered” to compose the total payment value for every product category. We base it on the ORDER_ITEMS, PRODUCTS, ORDERS, and ORDER_PAYMENTS tables taking advantage of the field names to link product categories with the orders and payments made in this process. Accepted_size only includes the orders with such status as ‘shipped’ or ‘processing’ do not include ‘delivered’. The results are generated on the basis of product classes and the first five classes in alphabets are shown along with the total payment. This gives information on the revenue made on non-delivered orders of these products categories.

## SQLAlchemy

In [ ]:
import sqlalchemy as db
import pymysql
from sqlalchemy import create_engine, Column, Integer, String
from sqlalchemy import inspect
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker
from sqlalchemy import and_
from datetime import datetime
from sqlalchemy import or_
from sqlalchemy.orm import Query
from sqlalchemy.sql.expression import func
from sqlalchemy.sql.expression import alias

In [ ]:
engine = db.create_engine("mysql+pymysql://root:Sultan9988@localhost/ps_ecommerce")
connection = engine.connect()

In [ ]:
Base = declarative_base()
Base.metadata.reflect(engine)

### For Windows, run the following cell.

In [ ]:
class Customers(Base):
    __table__ = Base.metadata.tables["customers"]
    __mapper_args__ = {
        'primary_key':[Base.metadata.tables["customers"].c.customer_id]
    }
    
class Orders(Base):
    __table__ = Base.metadata.tables["orders"]
    __mapper_args__ = {
        'primary_key':[Base.metadata.tables["orders"].c.order_id]
    }
    
class OrderItems(Base):
    __table__ = Base.metadata.tables["order_items"]
    __mapper_args__ = {
        'primary_key':[Base.metadata.tables["order_items"].c.order_id, Base.metadata.tables["order_items"].c.order_item_id]
    }
    
class OrderPayments(Base):
    __table__ = Base.metadata.tables["order_payments"]
    __mapper_args__ = {
        'primary_key':[Base.metadata.tables["order_payments"].c.order_id, Base.metadata.tables["order_payments"].c.payment_sequential]
    }
    
class Products(Base):
    __table__ = Base.metadata.tables["products"]
    __mapper_args__ = {
        'primary_key':[Base.metadata.tables["products"].c.product_id]
    }

### Otherwise run the following cell.

In [ ]:
class Customers(Base):
    __table__ = Base.metadata.tables["CUSTOMERS"]
    __mapper_args__ = {
        'primary_key':[Base.metadata.tables["CUSTOMERS"].c.customer_id]
    }
    
class Orders(Base):
    __table__ = Base.metadata.tables["ORDERS"]
    __mapper_args__ = {
        'primary_key':[Base.metadata.tables["ORDERS"].c.order_id]
    }
    
class OrderItems(Base):
    __table__ = Base.metadata.tables["ORDER_ITEMS"]
    __mapper_args__ = {
        'primary_key':[Base.metadata.tables["ORDER_ITEMS"].c.order_id, Base.metadata.tables["ORDER_ITEMS"].c.order_item_id]
    }
    
class OrderPayments(Base):
    __table__ = Base.metadata.tables["ORDER_PAYMENTS"]
    __mapper_args__ = {
        'primary_key':[Base.metadata.tables["ORDER_PAYMENTS"].c.order_id, Base.metadata.tables["ORDER_PAYMENTS"].c.payment_sequential]
    }
    
class Products(Base):
    __table__ = Base.metadata.tables["PRODUCTS"]
    __mapper_args__ = {
        'primary_key':[Base.metadata.tables["PRODUCTS"].c.product_id]
    }

In [ ]:
Session = sessionmaker(bind=engine)
session = Session()

## Question 7 (5 pts)

Solve this question using SQL Alchemy ONLY.

Find the `price` and `product_name_lenght` of products which have `product_name_lenght` > 64.

In [ ]:
results = (
    session.query(
        OrderItems.price,
        Products.product_name_lenght
    )
    .join(OrderItems, Products.product_id == OrderItems.product_id)
    .filter(Products.product_name_lenght > 64)
    .all()
)


print("\nResults:")
print("=" * 40)
print(f"{'Price':<15}{'Product Name Length':>20}")
print("-" * 40)
for price, name_length in results:
    print(f"{price:<15}{name_length:>20}")
print("=" * 40)

## Question 8 (5 pts)

Solve this question using SQL Alchemy ONLY.

For each month, find the total freight value in that month. Use the `shipping_limit_date` attribute to determine the months. Order months in increasing order. 

Example:

month 1 || total freight value in month 1

month 2 || total freight value in month 2

...

month 12 || total freight value in month 12

In [ ]:
from sqlalchemy import extract

session = Session(bind=engine)

results = session.query(
    extract('month', OrderItems.__table__.c.shipping_limit_date).label("month"),
    func.sum(OrderItems.__table__.c.freight_value).label("total_freight")
).group_by(
    extract('month', OrderItems.__table__.c.shipping_limit_date)
).order_by("month").all()

for month, total_freight in results:
    print(f"Month {int(month)} || Total Freight Val: {total_freight}")

## Question 9 (5+5+5 = 15 pts)

Let us define "large products" as those products with weight > 400 and length > 10. Some orders that contain a large product can have large discrepancies between their `order_delivered_carrier_date` and `order_delivered_customer_date`. 

Let us define "strange orders that contain large products" as those orders which contain a large product and the 
difference between their `order_delivered_carrier_date` and `order_delivered_customer_date` is larger than 100 days.

For all "strange orders that contain large products", find their order IDs and the number of days difference between 
their `order_delivered_carrier_date` and `order_delivered_customer_date`. Result should be like: "abc21312df" -> 132, "dhs230kdf8" -> 119, ...

(5 pts) First solve this question using mysql connector, like in Questions 1-5. Do not use SQL Alchemy.

In [ ]:
query = """
SELECT o.order_id, 
       DATEDIFF(o.order_delivered_customer_date, o.order_delivered_carrier_date) AS days_difference
FROM ORDERS o
JOIN ORDER_ITEMS oi ON o.order_id = oi.order_id
JOIN PRODUCTS p ON oi.product_id = p.product_id
WHERE p.product_weight_g > 400 
  AND p.product_length_cm > 10 
  AND DATEDIFF(o.order_delivered_customer_date, o.order_delivered_carrier_date) > 100;
"""

db_cursor.execute(query)
result = db_cursor.fetchall()

print("Order ID | Days Difference")
print("-" * 30)
for r in result:
    print(f"{r[0]:<8} | {r[1]:>15}")

(5 pts) Next, solve the same question using SQL Alchemy. You can use multiple steps (multiple `session.query` statements) if you wish.

In [ ]:
result = session.query(
    Orders.order_id.label("Order ID"),
    func.datediff(Orders.order_delivered_customer_date, Orders.order_delivered_carrier_date).label("Days Difference")
).join(OrderItems, Orders.order_id == OrderItems.order_id) \
 .join(Products, Products.product_id == OrderItems.product_id) \
 .filter(and_(
     Products.product_weight_g > 400,
     Products.product_length_cm > 10,
     func.datediff(Orders.order_delivered_customer_date, Orders.order_delivered_carrier_date) > 100
 )).all()

print(f"{'Order ID':<15} | {'Days Difference':<15}")
print("-" * 35)
for r in result:
    print(f"{r[0]:<15} | {r[1]:<15}")

(5 pts) Next, draw a bar chart with the order IDs and differences in days. Order IDs should be on the x-axis. Differences in days should be on the y-axis.

In [ ]:
order_ids = []
date_diffs = []
for i in result:
    order_ids.append(i[0])
    date_diffs.append(i[1])

plt.figure(figsize=(15, 7))
plt.bar(order_ids, date_diffs, width=0.5, color='skyblue', edgecolor='black')
plt.xticks(rotation=45, fontsize=10, ha='right')
plt.title("Differences in Days for Orders Containing Large Products", fontsize=14, weight='bold')
plt.xlabel("Order IDs", fontsize=12)
plt.ylabel("Difference in Days", fontsize=12)
plt.grid(axis='y', linestyle='--', linewidth=0.7, alpha=0.7)
plt.tight_layout()  
plt.show()

## Question 10 (5+5 = 10 pts)

For each product with `product_name_lenght` > 60 and `product_description_lenght` > 3000, find the customer zip code prefix and customer unique id of the customers who bought that product.

(5 pts) First solve this question using mysql connector, like in Questions 1-5. Do not use SQL Alchemy.

In [ ]:
query = """
SELECT C.customer_zip_code_prefix, C.customer_unique_id
FROM CUSTOMERS C, ORDER_COSTS OC, ORDER_ITEMS OI, PRODUCTS P
WHERE C.customer_id = OC.cid AND OI.order_id = OC.order_id 
        AND OI.product_id = P.product_id AND P.product_name_lenght > 60 
               AND P.product_description_lenght > 3000"""

db_cursor.execute(query)
results = db_cursor.fetchall()

for result in results:
    print(f"Customer Zip Code Prefix: {result[0]}, Customer ID: {result[1]}")

(5 pts) Next, solve the same question using SQL Alchemy.

In [ ]:
results = session.query(Customers.customer_zip_code_prefix, Customers.customer_unique_id) \
.join(Orders, Customers.customer_id == Orders.customer_id) \
.join(OrderItems, Orders.order_id == OrderItems.order_id) \
.join(Products, Products.product_id == OrderItems.product_id) \
.filter(and_(Products.product_name_lenght > 60, Products.product_description_lenght > 3000)).all()

for zip_code, customer_id in results:
    print(f"Customer Zip Code Prefix: {zip_code}, Customer ID: {customer_id}")

## Question 11 (10 pts)

Solve this question using SQL Alchemy ONLY.

Using the `ORDER_COSTS` view (first write a query to create it) and the `CUSTOMERS` table, find the following: In which states do customers spend, on average, more than 164 on their orders? For each such state, retrieve its name (abbreviation) and average order cost in that state. Results should be ordered from lowest cost to highest.

In [ ]:
order_costs = (
    session.query(
        Customers.customer_state.label("state"),
        func.avg(OrderItems.price).label("average_cost")
    )
    .join(Orders, Customers.customer_id == Orders.customer_id)
    .join(OrderItems, Orders.order_id == OrderItems.order_id)
    .group_by(Customers.customer_state)
    .subquery(name="order_costs")
)

In [ ]:
query = (
    session.query(
        order_costs.c.state,
        order_costs.c.average_cost
    )
    .filter(order_costs.c.average_cost > 164)
    .order_by(order_costs.c.average_cost.asc())
)

results = query.all()

print("\nStates with Average Order Cost Greater Than 164:")
print("=" * 50)
print(f"{'State':<15}{'Average Cost':>15}")
print("-" * 50)

for state, avg_cost in results:
    print(f"{state:<15}{avg_cost:>15.2f}")

print("=" * 50)

## Question 12 (10 pts)

Consider a seller whose main product is 'cama_mesa_banho'. In order to increase his sales, he wants to make a special discount. If you buy 'cama_mesa_banho', you will get the item 'x' at half of its original price.

What should be this item 'x'? (Hint: If you buy a pencil, you will most probably buy an eraser too.)

(4 pts) Explain the logic behind your reasoning.

The rationale behind identifying this, the complementary product category is through comparing the purchase frequency of one product with the purchase of another product in a view to optimize the discount. Many clients who purchase products in the cama_mesa_banho category also use other products from other categories in the same transaction. Thus, this paper identifies what the most complementary category of products is by filtering for orders that contain cama_mesa_banho and counting the frequency of other products categories purchased together with it. Providing a discount on this often-bundled category encourages customers to purchase both products, boosting the categor’s overall consumption which, again, improves the utility of the promotional campaign.

(3 pts) Use mysql connector to implement your solution.

In [ ]:
query = """
SELECT 
    P.product_category_name AS product_category, 
    COUNT(*) AS purchase_count
FROM 
    ORDER_ITEMS OI
JOIN 
    PRODUCTS P ON OI.product_id = P.product_id
JOIN 
    ORDERS O ON O.order_id = OI.order_id
WHERE 
    P.product_category_name != 'cama_mesa_banho'
    AND O.order_id IN (
        SELECT DISTINCT OI.order_id
        FROM ORDER_ITEMS OI
        JOIN PRODUCTS P ON OI.product_id = P.product_id
        WHERE P.product_category_name = 'cama_mesa_banho'
    )
GROUP BY 
    product_category
ORDER BY 
    purchase_count DESC
LIMIT 1;
"""

db_cursor.execute(query)
result = db_cursor.fetchone()

print(f"The most complementary product category: {result[0]}")
print(f"Optimal solution: {result[0]} with {result[1]} purchases.")

(3 pts) Use SQL Alchemy to implement your solution.

In [ ]:
session = Session(bind=engine)

result = (
    session.query(
        Products.__table__.c.product_category_name.label("category"),
        func.count(Products.__table__.c.product_id).label("purchase_count")
    )
    .join(OrderItems, Products.__table__.c.product_id == OrderItems.__table__.c.product_id)
    .join(Orders, Orders.__table__.c.order_id == OrderItems.__table__.c.order_id)
    .filter(Products.__table__.c.product_category_name != "cama_mesa_banho")
    .filter(
        Orders.__table__.c.order_id.in_(
            session.query(OrderItems.__table__.c.order_id)
            .join(Products, Products.__table__.c.product_id == OrderItems.__table__.c.product_id)
            .filter(Products.__table__.c.product_category_name == "cama_mesa_banho")
            .distinct()
        )
    )
    .group_by(Products.__table__.c.product_category_name)
    .order_by(func.count(Products.__table__.c.product_id).desc())
    .limit(1)
    .all()
)

for category, purchase_count in result:
    print(f"The most complementary product category: {category}")
    print(f"Optimal solution: {category} with {purchase_count} purchases.")

In [ ]:
session.close()

In [ ]:
db_cursor.close()
db_connection.close()